.settingButton 
{
	-fx-background-image:url("../images/settings-icon.png");
	-fx-background-radius: 50px;
}

.body
{
	-fx-background-color:rgb(0,0,0);
}

.backButton 
{
	-fx-background-image:url("../images/back.png");
	-fx-background-radius: 50px;
}

.settingProp {
    -fx-font-family: Dyuthi;
    -fx-font-size: 96.0;
    -fx-stroke-width: 2.0;
    -fx-stroke: YELLOW;
    -fx-text-fill: white;
}

.settingCheckbox> .box {
    -fx-border-width: 2px;
    -fx-border-color: YELLOW;
    -fx-background-color: white;
    -fx-background-image: null;
    -fx-border-radius: 3px;
    -fx-padding: 10px;
}

.settingCheckbox > .box > .mark {
    -fx-padding: 10px;
}

.menuEntry {
    -fx-font-family: Dyuthi;
    -fx-font-size: 40.0;
    -fx-border-width: 5px;
    -fx-border-radius: 5px;
    -fx-border-color: YELLOW;
    -fx-background-color: rgb(0,0,0);
    -fx-text-fill: white;
}

.playerName-large {
    -fx-font-size: 25.0;
    -fx-stroke-type: outside;
    -fx-stroke-width: 0.0;
    -fx-text-fill: white;
}

.playerName-small {
    -fx-font-size: 14.0;
    -fx-stroke-type: outside;
    -fx-stroke-width: 0.0;
    -fx-text-fill: white;
}

.game {
    -fx-background-color: rgb(0,0,0);
}